body{
    background-color: rgb(67, 7, 102);
}

.allMessages{
    background-color: white;
    text-align: left;
    border-style: solid;
    border-width: 10px;
    border-color: black;
    padding: 10px;
    margin: 30px;
    font-size: 30px;
}

.center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
}

h1{
    text-align: center;
    font-weight: 1000;
}

.singleInput{
    font-size: 30px;
    font-weight: bold;
    border-style: solid;
    border-width: 20px;
}

#username{
    height: 30px;
    width:1000px;
    border-style: solid;
    border-color: purple;
    border-width: thick;
}

#message {
    height: 30px;
    width: 1000px;
    border-style: solid;
    border-color: purple;
    border-width: thick;
}

#submitButton {
    
}

